
.journal-title {
  margin: 100px auto;
  font-size: 2em;
}

.journal-title p {
  font-family: sans-serif;
  font-size: 15px;
}

.slides {
  display: grid;
  grid-template: repeat(4, 1fr)/ repeat(3, 1fr);
  flex-flow: wrap;
}
#slides > img {
  width: 30%;
  height: auto;
  align-items: center;
}
