/* Entire page--------------------------- */
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: rgb(67, 43, 71);
}

body {
  font-family: 'Cutive Mono', monospace;
  background-color: whitesmoke;
}

body .base {
  background: url("../images/pineapple-supply.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom right;
}

/* Header block--------------------------- */
.header {
  position: sticky;
  position: -webkit-sticky;
  background-color: white;
  background-position: left;
  height: 5vh;
  border-bottom: 2px solid grey;
  font-size: 1.5em;
  top: 0;
  width: 100%;
}

.header ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: rgb(114, 97, 119);
}

.header ul li a:hover {
  color: rgb(223, 169, 97);
}

/* Profile-------------- ---------*/

.title h1:first-child {
  width: 80vw;
  margin: 20% auto;
  font-size: 4em;
  display: inline-block;
  position: absolute;
  animation: appear 2s;
  left: 315px;
}

@keyframes appear {
  from {
    left: -100px;
  }
  to {
    left: 315px;
  }
}
@-moz-keyframes appear {
  /* Firefox */
  from {
    left: -100px;
  }
  to {
    left: 315px;
  }
}
@-webkit-keyframes appear {
  /* Safari and Chrome */
  from {
    left: -100px;
  }
  to {
    left: 315px;
  }
}
@-o-keyframes appear {
  /* Opera */
  from {
    left: -100px;
  }
  to {
    left: 315px;
  }
}

.splash-content {
  font-size: 2em;
  margin: 30% auto;
  display: inline-block;
}


/* Dee's quick intro to profile-project */

/* div with nav bar */
/* .site-container > section {
  margin: 100px auto;
} */

/* name/ small intro  */
/* .splash-content {
  width: 80vw;
  margin: 0 auto;
} */


/* .splash-content span {
  display: block;
  font-style: italic;
} */

/* .splash-content strong {
  color: rgb(154, 55, 44);
  font-weight: bolder;
  text-decoration: dotted;
} */

/* section {
  margin: 100px auto;
} */
/* top & bottom, auto adjust  */


/* bottom three colums */
/* .detail-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
} */

/* .detail-container > section {
  padding: 25px;
  background-color: rgb(173, 95, 44);

} */

/* .detail-container > section:last-child {
  border-right: 0;
} */
